name: CI - development devships

on:
  push:
    branches:
      - development
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: install Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: tests coverage(min 70%)
        run: npm run test:coverage
      
      - name: Build
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ github.sha }}
          path: dist
          if-no-files-found: error

      - name: Deploy (simulado)
        run: |
          echo "Deploy simulado..."
          echo "SHA=${{ github.sha }}"
          echo "BRANCH=${{ github.ref_name }}"
          echo "OK"