name: CI - development devships

on:
  push:
    branches:
      - development
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  ci-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: install Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: tests coverage(min 70%)
        run: npm run test:coverage
      
      - name: Build
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ github.sha }}
          path: dist
          if-no-files-found: error
     
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html-${{ github.sha }}
          path: coverage
          if-no-files-found: error

      - name: Upload coverage to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: coverage

      - name: Deploy (simulado)
        run: |
          echo "Deploy simulado..."
          echo "SHA=${{ github.sha }}"
          echo "BRANCH=${{ github.ref_name }}"
          echo "OK"

  deploy-pages:
    needs: ci-deploy
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4