name: CI - main  devships

on:
  pull_request:
    branches: 
      - main
    types: [ opened, synchronize, reopened ]

concurrency:
  group: ci-main-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: install Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: tests coverage(min 70%)
        run: npm run test:coverage

      - name: Build
        run: npm run build
        